/*-----------------------------------*\
  #style.css
\*-----------------------------------*/

/**
 * copyright 2024 waskoooo
 */





/*-----------------------------------*\
  #CUSTOM PROPERTY
\*-----------------------------------*/

:root {

  /**
  * colors
  */ 
  --rich-black-fogra-39_50: hsla(0, 0%, 5%, 0.5);
  --rich-black-fogra-39: hsl(0, 0%, 5%);
  --indian-yellow_10: hsla(36, 61%, 58%, 0.1);
  --indian-yellow: hsla(36, 79%, 55%, 0.973);
  --harvest-gold: hsl(36, 66%, 53%);
  --eerie-black-1: hsl(0, 0%, 14%);
  --eerie-black-2: hsl(0, 0%, 12%);
  --eerie-black-2_85: hsla(0, 0%, 12%, 0.85);
  --eerie-black-3: hsl(0, 0%, 8%);
  --sonic-silver: hsl(0, 0%, 44%);
  --davys-gray: hsl(210, 9%, 31%);
  --light-gray: hsl(0, 0%, 80%);
  --platinum: hsl(0, 0%, 91%);
  --black_30: hsla(0, 0%, 0%, 0.3);
  --white_10: hsla(0, 0%, 100%, 0.1);
  --white_30: hsla(0, 0%, 100%, 0.3 );
  --white_50: hsla(0, 0%, 100%, 0.5);
  --white: hsl(0, 0%, 100%);
  --jet: hsl(0, 0%, 21%);

  /**
  * typography
  */ 

  --ff-oswald : 'Oswald', sans-serif;
  --ff-rubik: 'Rubik', sans-serif;

  --fs-40: 4rem;
  --fs-30: 3rem;
  --fs-24: 2.4rem;
  --fs-18: 1.8rem;
  --fs-14: 1.4rem;
  --fs-13: 1.3rem;

  --fw-300: 300;
  --fw-500: 500;
  --fw-600: 600;
  --fw-700: 700;

  /**
  *spacing
  */

  --section-padding: 80px;

  /**
  * shadow
  */

  --shadow-1: 10px 0 60px hsla(0, 0%, 15%, 0.07);
  --shadow-2: 10px 0 60px hsla(0, 0%, 15%, 0.1);

  /**
  * radius
  */

  --radius-5: 5px;
  --radius-8: 8px;

  /**
  * transition
  */

  --transition-1: 0.25s ease;
  --transition-2: 0.5s ease;
  --cubic-out: cubic-bezier(0.33, 0.85, 0.4, 0.96);

}



/*-----------------------------------*\
  #RESET
\*-----------------------------------*/

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li { list-style: none ;}

a,
img,
span,
data,
input,
select,
button,
textarea,
ion-icon { display: block;}

a {
  color: inherit;
  text-decoration: none;
}

img {height: auto;}

input,
select,
button,
textarea {
  background: none;
  border: none;
  font: inherit;
}

input,
select,
textarea { width: 100%; }

button {cursor: pointer;}

ion-icon { pointer-events: none; }

address { font-style: normal; }

html {
  font-family: var(--ff-rubik);
  font-size: 10px;
  scroll-behavior: smooth ;
}

body {
  background-color: var(--white);
  color: var(--sonic-silver);
  font-size: 1.6rem;
  line-height: 2;
}

:focus-visible { outline-offset: 4px;}

::-webkit-scrollbar { width: 10px;}

::-webkit-scrollbar-track { background-color: hsl(0, 0%, 98%);}

::-webkit-scrollbar-thumb { background-color: hsl(0, 0%, 80%);}

::-webkit-scrollbar-thumb:hover {background-color: hsl(0, 0%, 70%);}




/*-----------------------------------*\
  #REUSED STYLE
\*-----------------------------------*/

.container { padding-inline: 15px; }

.section { padding-block: var(--section-padding);}

.has-before,
.has-after {
  position: relative;
  z-index: 1;
}

.has.before::before,
.has-after::after {
  position: absolute;
  content: "";
}

.has-bg-image{
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
}



/*-----------------------------------*\
  #HEADER
\*-----------------------------------*/


.header-top-item,
.header .btn { display: none; }

.header-top-list,
.header-top-list .social-list {
  display: flex;
  align-items: center;
}

.header-top-list { justify-content: center ;}

.header-top-list .social-list {
  gap: 20px;
  padding-block: 15px;
}

.header-top-list .social-link {
  color: var(--sonic-silver);
  font-size: 15px;
  transition: var(--transition-1);
}

.header-top-list .social-link:is(:hover, :focus) { color: var(--indian-yellow);}

.header-bottom {
  position: absolute;
  top: 45px;
  left: 0;
  width: 100%;
  padding-block: 10px;
  z-index: 4;
}

.header-bottom.active {
  position: fixed;
  top: 0;
  background-color: var(--rich-black-fogra-39);
  transform: translateY(-100%);
  animation: slideIn 0.5s ease forwards;
}

@keyframes slideIn {
  0% { transform: translateY(-100%);}
  100% { transform: translateY(0);}
}

.header-bottom > .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  color: var(--indian-yellow);
  font-family: var(--ff-oswald);
  font-size: 2.7rem;
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.6;
}

.logo span {
  color: var(--white);
  font-family: var(--ff-rubik);
  font-size: 1.9rem;
  font-weight: var(--fw-300);
  text-transform: capitalize;
  letter-spacing: 2p;
}

.nav-toggle-btn {
  color: var(--white);
  font-size: 35px;
}

.navbar {
  position: absolute;
  padding-inline: 0;
  top: 100%;
  left: 20px;
  right: 10px;
  background-color: var(--rich-black-fogra-39);
  max-height: 0;
  overflow: hidden;
  transition: 0.15s var(--cubic-out);
}

.navbar.active {
  max-height: 321px;
  transition-duration: 0.5s;
}

.navbar-list {
  border-block-start: 1px solid var(--jet);
  margin-block: 25px;
}

.navbar-item { border-block-end: 1px solid var(--jet);}

.navbar-link {
  color: var(--white);
  font-family: var(--ff-oswald);
  font-weight: var(--fw-600);
  text-transform: uppercase;
  line-height: 1.5;
  padding: 10px 30px;
  transition: var(--transition-1)
}

.navbar-link:is(:hover, :focus) { color: var(--indian-yellow);}




/*-----------------------------------*\
  #HERO
\*-----------------------------------*/





/*-----------------------------------*\
  #SERVICE
\*-----------------------------------*/





/*-----------------------------------*\
  #PRICING
\*-----------------------------------*/





/*-----------------------------------*\
  #GALLERY
\*-----------------------------------*/





/*-----------------------------------*\
  #APPOINTMENT
\*-----------------------------------*/





/*-----------------------------------*\
  #FOOTER
\*-----------------------------------*/





/*-----------------------------------*\
  #BACK TO TOP
\*-----------------------------------*/





/*-----------------------------------*\
  #MEDIA QUERIES
\*-----------------------------------*/